.frame_4 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 90px 165px;
}

/* картинки масштабируются под размер контейнера */
.content_frame_4 img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.content_frame_4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    justify-content: center;
    max-width: 1110px;  
}

.frame_4_1, .frame_4_2, .frame_4_3, .frame_4_4 {
    max-height: 135px;
}


/* до 1100px и меньше */
@media (max-width: 1100px) {
.frame_4 {
    padding: 60px 90px;
}

}

/* до 768px и меньше */
@media (max-width: 768px) {
.content_frame_4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;          /* расстояние между колонками */
    grid-row-gap: 30px;             /* добавь отступ между строками */
    justify-content: center;
    max-width: 690px;  
}

.frame_4 {
    padding: 60px 33px;
}

/* картинки масштабируются под размер контейнера */
.content_frame_4 img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
}

/* до 576px и меньше */
@media (max-width: 576px) {
.content_frame_4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;          /* расстояние между колонками */
    grid-row-gap: 30px;             /* добавь отступ между строками */
    justify-content: center;
    max-width: 510px;  
}

.frame_4 {
    padding: 60px 33px;
}

}

/* 320px и меньше */
@media (max-width: 320px) {
    
.content_frame_4 {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;             /* добавь отступ между строками */
    justify-content: center;
    max-width: 290px;  
}

.frame_4 {
    padding: 60px 15px;
}
}
