
.frame_1 {
    display:flex;
    justify-content: center;
    background-color: #FFFFFF;
    padding: 60px 165px 0px 165px;
}

.content_frame_1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    justify-content: center;
    max-width: 1110px;
}

.frame_1_text {
    max-width: 445px;
    max-height: 361px;
    margin-top: 70px;
    margin-bottom: 129px;
    margin-right: 30px;
}

h1{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;
    color: #4c5866;
}

.frame_1_text p {
    font-size: 18px;
    line-height: 150%;
    color: #85859b;
    margin-top: 30px;
}

.frame_1_text button {
    border: 1px solid #7875fe;
    padding: 20px 50px;
    width: 255px;
    height: 70px;
    font-size: 20px;
    color: #7875fe;
    background-color: white;
    margin-top: 30px;
}

.frame_1_img {
    flex-shrink: 1; /* Позволяем картинке уменьшаться */
    max-width: 540px; /* Устанавливаем максимальный размер */
    width: 100%; /* Делаем адаптивным */
    height: auto;
    padding: 0px;
    height: 559.987px;
}