.frame_4 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 90px 165px;
}

.content_frame_4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    justify-content: center;
    max-width: 1110px;  
}

.frame_4_1, .frame_4_2, .frame_4_3, .frame_4_4 {
    max-height: 135px;
}