
.frame_1 {
    display:flex;
    justify-content: center;
    background-color: #FFFFFF;
    padding: 60px 165px 0px 165px;
}

.content_frame_1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    justify-content: center;
    max-width: 1110px;
}

.frame_1_text {
    max-width: 445px;
    max-height: 361px;
    margin-top: 70px;
    margin-bottom: 129px;
}

h1{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;
    color: #4c5866;
}

.frame_1_text p {
    font-size: 18px;
    line-height: 150%;
    color: #85859b;
    margin-top: 30px;
}

.frame_1_text button {
    border: 1px solid #7875fe;
    padding: 20px 50px;
    width: 255px;
    height: 70px;
    font-size: 20px;
    color: #7875fe;
    background-color: white;
    margin-top: 30px;
}

.frame_1_img {
    flex-shrink: 1; /* Позволяем картинке уменьшаться */
    width: 100%; /* Делаем адаптивным */
    height: auto;
    padding: 0px;
    height: 559.987px;
}

.frame_1_img img {
    max-width: 540px;
    min-width: 195px;
}

/* Масштабирование размера блока */

@media (min-width: 769px) {
.frame_1 {
    padding: 60px 165px 0px 165px;
    max-height: 620px;
}

.content_frame_1 {
    max-width: 1110px;
}
.frame_1_text {
    margin-top: 70px;
}
} 

@media (max-width: 768px) {
.frame_1 {
    padding: 60px 39px 0px 39px;
    max-height: 470px;
}

.content_frame_1 {
    max-width: 690px;
}
.frame_1_text {
    margin-top: 5px;
}
}

@media (max-width: 576px) {
.frame_1 {
    padding: 20px 33px 0px 33px;
    max-height: 416px;
}

.content_frame_1 {
    max-width: 510px;
}
.frame_1_text {
    margin-top: 40px;
}
}

@media (max-width: 320px) {
.frame_1 {
    padding: 49px 15px 0px 15px;
    max-height: 320px;
}

.content_frame_1 {
    max-width: 290px;    
}
.frame_1_text {
    margin-top: 0px;
}
}

/* Масштабирование текста */
@media (min-width: 577px) {
    h1{
    font-size: 60px;
}

.frame_1_text p {
    font-size: 18px;
    margin-top: 30px;
}

.frame_1_text button {
    font-size: 20px;
    margin-top: 30px;
}
} 

@media (min-width: 577px) {
    h1{
    font-size: 60px;
}

.frame_1_text p {
    font-size: 18px;
    margin-top: 30px;
}

.frame_1_text button {
    font-size: 20px;
    margin-top: 15px;
}
} 

@media (max-width: 576px) {
    h1{
    font-size: 38px;
}

.frame_1_text p {
    font-size: 16px;
    margin-top: 30px;
}

.frame_1_text button {
    font-size: 20px;
    margin-top: 10px;
}
}

@media (max-width: 320px) {
    h1{
    font-size: 30px;
}

.frame_1_text p {
    font-size: 14px;
}

.frame_1_text button {
    font-size: 18px;
    margin-top: 30px;
}
}

/* масштабирование тубуса */

@media (min-width: 321px) {
    .frame_1_img {
        display: block;
    }
} 

@media (max-width: 320px) {
    .frame_1_img {
        display: none;
    }
}