.frame_4 {
    margin: 90px auto;
    /* display: flex;
    justify-content: center; */
}

.content_frame_4 {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1110px;
}